In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

**Loading Dataset**

In [2]:
data_set = pd.read_csv('https://raw.githubusercontent.com/HamoyeHQ/01-University-Admissions/master/data/Admission_Predict.csv')
data_set.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

**Converting space to  '_'**

In [3]:
data_set.columns = data_set.columns.str.strip().str.replace(" ",'_')

In [4]:
data_set.head()

   Serial_No.  GRE_Score  TOEFL_Score  ...  CGPA  Research  Chance_of_Admit
0           1        337          118  ...  9.65         1             0.92
1           2        324          107  ...  8.87         1             0.76
2           3        316          104  ...  8.00         1             0.72
3           4        322          110  ...  8.67         1             0.80
4           5        314          103  ...  8.21         0             0.65

[5 rows x 9 columns]

**Checking for issing Values**

In [5]:
data_set.isnull().sum()

Serial_No.           0
GRE_Score            0
TOEFL_Score          0
University_Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance_of_Admit      0
dtype: int64

**Check for Dataset Correlation**

In [6]:
corr_matrix = data_set.corr()
corr_matrix["Chance_of_Admit"].sort_values(ascending = False)

Chance_of_Admit      1.000000
CGPA                 0.873289
GRE_Score            0.802610
TOEFL_Score          0.791594
University_Rating    0.711250
SOP                  0.675732
LOR                  0.669889
Research             0.553202
Serial_No.           0.042336
Name: Chance_of_Admit, dtype: float64

In [7]:
corr_matrix

                   Serial_No.  GRE_Score  ...  Research  Chance_of_Admit
Serial_No.           1.000000  -0.097526  ... -0.063138         0.042336
GRE_Score           -0.097526   1.000000  ...  0.580391         0.802610
TOEFL_Score         -0.147932   0.835977  ...  0.489858         0.791594
University_Rating   -0.169948   0.668976  ...  0.447783         0.711250
SOP                 -0.166932   0.612831  ...  0.444029         0.675732
LOR                 -0.088221   0.557555  ...  0.396859         0.669889
CGPA                -0.045608   0.833060  ...  0.521654         0.873289
Research            -0.063138   0.580391  ...  1.000000         0.553202
Chance_of_Admit      0.042336   0.802610  ...  0.553202         1.000000

[9 rows x 9 columns]

**Defining dependent and Independent Variables**

In [8]:
x = data_set.drop(['Serial_No.','Chance_of_Admit'], axis = 1)
y = data_set['Chance_of_Admit']

In [9]:
x.head(3)

   GRE_Score  TOEFL_Score  University_Rating  SOP  LOR  CGPA  Research
0        337          118                  4  4.5  4.5  9.65         1
1        324          107                  4  4.0  4.5  8.87         1
2        316          104                  3  3.0  3.5  8.00         1

In [10]:
y.head(3)

0    0.92
1    0.76
2    0.72
Name: Chance_of_Admit, dtype: float64

**Splitting Data to Train and Test Split**

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [12]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(280, 7)
(120, 7)
(280,)
(120,)

**Linear Regression Model**

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = regressor.predict(x_test)
y_pred

**Evaluation Metrics**

**r2_score**

In [15]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,y_pred)
round(r2_score,4)

0.7457

**mean absolute error**

In [16]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,y_pred)
round(mae,4)

0.0469

**root mean square error**

In [17]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
round(rmse,4)

0.0662

**Evaluating the model Performance Using Backward Elimination Method**
**Evaluation Criterias are:**
1. **R-squared Value and Adjusted R-Squared value**
2. **Coefficient of Parameters**
3. **P-values**

BACKWARD ELIMINATION


1.   chose a significant level ( SL = 0.05)
2.   select all possible predictors
3.  fit the mdel woth all possible predictors
4.  consider the predictor with the highest p value
    if P-value > SL then remove that predictor and fit the model again
    if P-value < SL the model is ready

In [20]:
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [21]:
X = x = sm.add_constant(x) # add a column of ones to matrix of features

In [22]:
x_opt = X.iloc[:,[0,1,2,3,4,5,6,7]] # selecting all possible predictors for elimination
stats_model = sm.OLS(endog = y,exog = x_opt)
stats_model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        Chance_of_Admit   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     228.9
Date:                Mon, 28 Sep 2020   Prob (F-statistic):          3.12e-134
Time:                        11:38:06   Log-Likelihood:                 537.37
No. Observations:                 400   AIC:                            -1059.
Df Residuals:                     392   BIC:                            -1027.
Df Model:                           7
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -1.2594      0.125    -10.097      0.000      -1.505      -1.014
GRE_Score             0.0017      0.001      2.906      0.004       0.001       0.003
TOEFL_Score           0.0029      0.001      2.680      0.008       0.001       0.005
University_Rating     0.0057      0.005      1.198      0.232      -0.004       0.015
SOP                  -0.0033      0.006     -0.594      0.553      -0.014       0.008
LOR                   0.0224      0.006      4.034      0.000       0.011       0.033
CGPA                  0.1189      0.012      9.734      0.000       0.095       0.143
Research              0.0245      0.008      3.081      0.002       0.009       0.040
==============================================================================
Omnibus:                       87.895   Durbin-Watson:                   0.759
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              181.191
Skew:                          -1.159   Prob(JB):                     4.52e-40
Kurtosis:                       5.344   Cond. No.                     1.31e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [23]:
# P value of SOP is largest and is also above significant level so we drop it from the predictors
x_opt = X.iloc[:,[0,1,2,3,5,6,7]]
stats_model = sm.OLS(endog = y,exog = x_opt)
stats_model.fit().summary() #removing SOP from the independent variables does not decrease the R-squared or adjusted R-squared value of the model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        Chance_of_Admit   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     267.5
Date:                Mon, 28 Sep 2020   Prob (F-statistic):          2.18e-135
Time:                        11:38:17   Log-Likelihood:                 537.19
No. Observations:                 400   AIC:                            -1060.
Df Residuals:                     393   BIC:                            -1032.
Df Model:                           6
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -1.2543      0.124    -10.089      0.000      -1.499      -1.010
GRE_Score             0.0018      0.001      2.962      0.003       0.001       0.003
TOEFL_Score           0.0028      0.001      2.628      0.009       0.001       0.005
University_Rating     0.0049      0.005      1.069      0.286      -0.004       0.014
LOR                   0.0210      0.005      4.147      0.000       0.011       0.031
CGPA                  0.1179      0.012      9.756      0.000       0.094       0.142
Research              0.0242      0.008      3.046      0.002       0.009       0.040
==============================================================================
Omnibus:                       89.012   Durbin-Watson:                   0.748
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              184.552
Skew:                          -1.171   Prob(JB):                     8.41e-41
Kurtosis:                       5.364   Cond. No.                     1.31e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [24]:
# here the P-value of university-rating is still above significant level so we drop it also
x_opt = X.iloc[:,[0,1,2,5,6,7]]
stats_model = sm.OLS(endog = y,exog = x_opt)
stats_model.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        Chance_of_Admit   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     320.6
Date:                Mon, 28 Sep 2020   Prob (F-statistic):          2.04e-136
Time:                        11:38:27   Log-Likelihood:                 536.61
No. Observations:                 400   AIC:                            -1061.
Df Residuals:                     394   BIC:                            -1037.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -1.2985      0.117    -11.070      0.000      -1.529      -1.068
GRE_Score       0.0018      0.001      2.992      0.003       0.001       0.003
TOEFL_Score     0.0030      0.001      2.847      0.005       0.001       0.005
LOR             0.0228      0.005      4.741      0.000       0.013       0.032
CGPA            0.1210      0.012     10.312      0.000       0.098       0.144
Research        0.0246      0.008      3.103      0.002       0.009       0.040
==============================================================================
Omnibus:                       87.489   Durbin-Watson:                   0.750
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              179.337
Skew:                          -1.157   Prob(JB):                     1.14e-39
Kurtosis:                       5.325   Cond. No.                     1.23e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.23e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [25]:
#removing any more predictors from the model does not improve the model, instead it reduces the models R-square and adjusted R-squared value, which is generally not desirable.